<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 23.11.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first web app in Django. I have previously built
            a web app using Flask at denisflask.heroku.com</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>It has taken me a while to begin to understand Django but I feel that I am getting
            there. I have begun to slow down and really try and comprehend the logic and this is
            making a difference. The key so far has been consistent bite sized chunks.</p>
        </div>
    </body>
</html>